@{
    ViewBag.Title = "GallowayWeather";
}

<div>
    <h1>GallowayWeather</h1>
    <input id="searchtext" type="text" size="50" /><input id="btnFindLocation" type="button" value="Search" /><br />
    <textarea id="results"></textarea>
</div>