@model  GallowayWeather.ViewModels.WeatherViewModel
@{
    ViewBag.Title = "GallowayWeather";
}

<div>
    <h1>GallowayWeather</h1>
    <input id="searchtext" type="text" size="50" /><img id='spinner' name='spiner' src='~/images/gears.gif' height="20" width="20" />
    <br />
    @using (Html.BeginForm())
    {
        @Html.DropDownList("lstResults", new List<SelectListItem>{
                    new SelectListItem{ Text="Perth", Value = "26797" }}
        )
        <input id="btnGetWeather" type="submit" value="Get Weather" />
    }
    <div><img src="@Model.WeatherIcon"</div>
    <div>@Model.WeatherText</div>
    <div>@Model.WeatherTemp</div>

</div>