@{
    ViewBag.Title = "GallowayWeather";
}

<div>
    <h1>Weather</h1>
    <p class="lead">Pick your location, then the weather information will be displayed.</p>
    <form>
        <fieldset>
            Location: <input type="text" id="txtLocation" name="txtLocation"><input type="button" id="btnLocationSearch" name="btnLocationSearch" value="Search"/><br>
            <span id="awxLocationInfo">(Location information will be displayed here)</span><br />
            <span id="awxWeatherInfo">(Current conditions will be displayed here)</span>
        </fieldset>
    </form>
</div>